apiVersion: v1
kind: Service
metadata:
  name: hello-jahanzeb
spec:
  selector:
    app: test-app
  ports:
  - protocol: "TCP"
    port: 80
    targetPort: 5000
  type: ClusterIP

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: test-app
  template:
    metadata:
      labels:
        app: test-app
    spec:
      containers:
      - name: hello-python
        image: jahanzebpythonapp:latest
        ports:
        - containerPort: 5000
